    body{
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 1.5;
        font-weight: 400;
        color: $color-white;
    }

    .header-primary{
        text-align: center;
        margin: 100px 0 50px 0;

        h1{
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 300;
        }

        p{
            font-size: 2.8rem;
        }
    }

    .header-secondary{
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
        padding: 20px;

    }