$color-white: #f0f2f2;
$color-black: #20211b;

// $color-primary: 
// $color-secondary:

// $color-primary-light:
// $color-secondary-light:

// $color-primary-dark:
// $color-secondary-dark:

$color-card: #eee;