*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #20211b; }

body a {
  text-decoration: none; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f0f2f2; }

.header-primary {
  text-align: center;
  margin: 100px 0 50px 0; }
  .header-primary h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300; }
  .header-primary p {
    font-size: 2.8rem; }

.header-secondary {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  padding: 20px; }

.card {
  background-color: #eee;
  color: #20211b; }

.word-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 250px;
  font-size: 3rem;
  position: relative; }
  .word-card .side {
    background-color: #f0f2f2;
    color: #20211b;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    transition: all .5s; }
  .word-card--back {
    transform: rotateY(-180deg); }
  .word-card:hover .word-card--front {
    transform: rotateY(180deg); }
  .word-card:hover .word-card--back {
    transform: rotateY(0deg); }

.header {
  height: 60px;
  width: 114rem;
  margin: 0 auto;
  position: relative;
  color: #f0f2f2; }
  .header .header__logo {
    display: inline;
    position: absolute;
    bottom: 0;
    left: 2%; }
    .header .header__logo a {
      font-size: 3rem;
      color: #f0f2f2; }
  .header .header__nav {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 2%; }
    .header .header__nav ul > *:not(:first-child) {
      margin-left: 30px; }
    .header .header__nav ul li {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase; }

.footer {
  width: 114rem;
  height: 150px;
  margin: 0 auto; }
  .footer hr {
    width: 80%;
    margin: 0 auto; }
  .footer__social-media {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center; }
    .footer__social-media .fa-instagram-square:hover {
      color: #fb3958; }
    .footer__social-media .fa-facebook-square:hover {
      color: #3b5998; }
    .footer__social-media .fa-linkedin:hover {
      color: #2867B2; }
    .footer__social-media .fa-github-square:hover {
      color: #AD5C51; }
    .footer__social-media .fab {
      color: #f0f2f2; }
  .footer .copyrights {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6rem; }

main {
  width: 114rem;
  margin: 0 auto;
  margin-bottom: 100px; }
  main .section-cards {
    width: 100%;
    height: 45rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px; }
    main .section-cards__card--one {
      display: grid;
      align-content: center; }
    main .section-cards__card--two {
      display: grid;
      align-content: center; }
    main .section-cards__card--three {
      display: grid;
      align-content: center; }

.section-words {
  width: 100rem;
  height: 100rem;
  margin: 0 auto; }
  .section-words__title {
    width: 100%;
    margin-bottom: 50px; }
  .section-words__cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px; }
