main{
    width: 114rem;
    margin: 0 auto;
    margin-bottom: 100px;

    .section-cards{
        width: 100%;
        height: 45rem;

        display: grid;

        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        grid-column-gap: 30px;

        &__card--one{
            display: grid;
            align-content: center;
        }

        &__card--two{
            display: grid;
            align-content: center;
        }

        &__card--three{
            display: grid;
            align-content: center;
        }
    }

}